aside{
    height: calc(100vh - 96px);
    width: 150px;
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.container_aside{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* mian */
.main-scroll{
    height: 100vh;
    overflow-y: scroll;
}

.blue_row {
    max-width: 100%;
    background-color: rgb(46, 133, 255);
}



.size-img{
    height: 25px;
}