aside{
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container_aside{
    height: 100%;
    width: 150px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
@media (max-width:768px) {

    .container_aside{
        width: 75px;
    }
}

/* mian */
.main-scroll{
    width: calc(100% - 75px);
    overflow-y: scroll;
}

.blue_row {
    background-color: rgb(46, 133, 255);
}



.size-img{
    height: 25px;
}