aside{
    height: calc(100vh - 96px);
    width: 150px;
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 96px;
    display: flex;
    flex-direction: column;
}
.container_aside{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* mian */
main{
    height: 100vh;
    position: fixed;
    left: 150px;
    top: 96px;
    width: calc(100% - 150px);
    overflow-y: scroll;
    z-index: 1050;
}

.blue_row {
    max-width: 100%;
    background-color: rgb(46, 133, 255);
}

@media (max-widht:768px){
    aside{
        width: 70px;
    }
    main{
        width: calc(100% - 70px);
    }
    .icone_x{
        display: none;
     }
}

.size-img{
    height: 25px;
}